<%- layout('layout/boilerplate')  %>
<link rel="stylesheet" href="/stylesheet/stars.css">

<body>
    <% if(currentUser) { %>
        <h2>Edit Review</h2>
        <form action="/campgrounds/<%=foundCamp._id%>/reviews/edit/<%= review._id %>?_method=PATCH" method="POST" class="mb-3 needs-validation"
            novalidate>
            <div class="mb-3">
                <h5>Previous Stars</h5>
                <p class="starability-result" data-rating="<%= review.rating %>"></p>
                <h5>Give New Stars</h5>
                
                <fieldset class="starability-basic" >
                    <legend></legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating."  />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
            </div>
            <div class="mb-3">
                <label class="form-label" for="msg">Review</label>
                <textarea class="form-control" name="message" id="msg" cols="30" rows="3" required><%= review.message %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Update</button>
        </form>
        <% } %>
</body>