<% layout('layout/boilerplate') -%>
<link rel="stylesheet" href="/stylesheet/stars.css">

    <body>
        <div class="row">
            <div class="col-6">
                <div class="card mb-3">
                    

                    <% if(foundCamp.images.length>0) { %>
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                           
                          <div class="carousel-item active">
                            <img src="<%= foundCamp.images[0].url  %>" class="d-block w-100" alt="...">
                          </div>
                          
                          <% for(let i=1;i< foundCamp.images.length; i++) { %>
                            <div class="carousel-item ">
                                <img src="<%= foundCamp.images[i].url  %>" class="d-block w-100" alt="...">
                            </div>
                          <% } %>

                        <% if(foundCamp.images.length > 1) {%>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                        <% } %>
                      </div>
                      </div>
                    <% } %>
                      
                    
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= foundCamp.title%>
                        </h5>
                        <p class="card-text">
                            <%= foundCamp.description%>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">
                            <%= foundCamp.location%>
                        </li>
                        <li class="list-group-item">$<%= foundCamp.price%>/night</li>
                        <li class="list-group-item">Created by <%= foundCamp.author.username%>
                        </li>
                    </ul>

                    <% if(currentUser && foundCamp.author.equals(currentUser._id)) {%>
                        <div class="card-body">
                            <a class="card-link btn btn-info" href="/campgrounds/<%=foundCamp._id%>/edit">Edit</a>
                            <form class="d-inline" action="/campgrounds/<%=foundCamp._id%>?_method=DELETE"
                                method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% } %>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>


                            <div id='map' style='width: 635px; height: 300px;'></div>

                </div>
            </div>
            
            <div class="col-6">
                <% if(currentUser) { %>
                <h2>Leave a Review</h2>
                <form action="/campgrounds/<%=foundCamp._id%>/reviews" method="POST" class="mb-3 needs-validation"
                    novalidate>
                    <div class="mb-3">
                        <fieldset class="starability-basic">
                            <legend></legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="msg">Review</label>
                        <textarea class="form-control" name="message" id="msg" cols="30" rows="3" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                 <% } else { %>
                    <div>
                        <p>please login to write review <a href="/login"><button type="button" class="btn btn-outline-primary">Login</button></a></p> 
                    </div>

                    <% } %>


                <% if(foundCamp.reviews.length) { %>
                    <h2>Reviews:</h2>
                    <% } %>


                        <% for(let review of foundCamp.reviews) {%>
                            <div class="card mb-3 ">
                                <div class="card-body">
                                    <h5 class="card-subtitle">By <%= review.author.username %>
                                    </h5> <br>

                                    <p class="starability-result" data-rating="<%= review.rating %>">
                                      
                                    </p>
                                    <p class="card-text">Review: <%= review.message %>
                                    </p>

                                    
                                    <% if( currentUser && review.author.equals(currentUser._id)) { %>
                                    <div>
                                        <form
                                            action="/campgrounds/<%= foundCamp._id  %>/reviews/delete/<%= review._id %>?_method=DELETE"
                                            method="POST">
                                            <button class="btn btn-sm btn-danger"> Delete</button>
                                        </form>
                                    </div>
                                    <% } %>

                                </div>
                            </div>
                            <% } %>


            </div>
        </div>


    </body>

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
    const campground = <%- JSON.stringify(foundCamp) %>
</script>
    
<script src="/javascript/showMap.js"></script>

